* {
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
h1 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-weight: 400;
    color: #21232Aaa;
}

h5 {
    margin: 0px; 
    padding: 0px;
}

.image-check{
    width: 100px;
}
.image-logo {
    width: 100px;
    opacity: 0.3;
}

.v-spacer {
    height: 32px;
}
strong {
    color: #21232A;
}

.fingerprint {
    display: flex;
    height: 100px;
    padding-top: 16px;
}

.fingerprint > * {
    margin: 4px;
}

.other_info {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #21232A90;
    font-family: sans-serif;
    margin: 20px 0px;
}